<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="HomeTest" time-out="5000">
		<classes>
			<class name="tests.TestHomepage"></class>
			<class name="tests.TestContactPage"></class>
		</classes>
	</test>
	


</suite> <!-- Suite -->
