<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">




	<!-- <groups> -->
	<!-- <run> -->
	<!-- <include name="sanity"></include> -->
	<!-- </run> -->
	<!-- </groups> -->


	<test name="HomeTest">
		<groups>
			<define name="higherPrior">
				<include name="sanity"></include>
				<include name="regression"></include>
			</define>
			<define name="primary">
				<include name="sanity"></include>
				<include name="regression"></include>
			</define>
			<define name="production">
				<include name="sanity"></include>
			</define>
			<run>
				<include name="higherPrior"></include>
			</run>
		</groups>
		<!-- <groups> -->
		<!-- <run> -->
		<!-- <include name="sanity"></include> -->
		<!-- </run> -->
		<!-- </groups> -->
		<classes>
			<class name="tests.TestHomepage"></class>
			<class name="tests.TestContactPage"></class>
		</classes>
	</test>
	<test name="ContactTest">
		<classes>
			<class name="tests.TestContactPage"></class>
		</classes>
	</test>
	<!-- <test name="TestGit"> -->
	<!-- <classes> -->
	<!-- <class name="tests.TestGitLogin"></class> -->
	<!-- </classes> -->
	<!-- </test> -->



</suite> <!-- Suite -->
